<div class="flex-container">
  <div class="flex-item">
    <label for="responsables">Responsables del proyecto:</label>
    <input
      type="text"
      class="field"
      id="responsables"
      name="responsables"
      placeholder="Agregar Responsable del proyecto..."
    />
  </div>

  <div class="flex-item">
    <label for="administrador">Administrador:</label>
    <input
      type="text"
      class="field"
      id="administrador"
      name="administrador"
      placeholder="Agregar Administrador..."
    />
  </div>

  <div class="flex-item">
    <label for="involucrados">Involucrados:</label>
    <input
      type="text"
      class="field"
      id="involucrados"
      name="involucrados"
      placeholder="Agregar Involucrado..."
    />
  </div>
</div>
